<div id="container-div">
    <div id="form-holder-div">
        <h1 class="h1 mb-3 font-weight-normal">Login</h1>
        <form [formGroup]="signinForm">
            <div>
                <label style="margin:5px;">Username</label>
                <input matInput class="form-control" id="email" type="text" formControlName="username" style="border: solid;">
            </div>
            <div>
                <label style="margin:5px;" >Password</label>
                <input matInput class="form-control" id="password" type="password" formControlName="password" style="border: solid;">
            </div>
            <div>
                <label style="margin:5px;">Ime</label>
                <input matInput class="form-control" id="ime" type="text" formControlName="ime" style="border: solid;">
            </div>
            <div>
                <label style="margin:5px;" >Prezime</label>
                <input matInput class="form-control" id="prezime" type="text" formControlName="prezime" style="border: solid;">
            </div>
            <div>
            <mat-form-field >
                <mat-label>Unesite Datum Rodjenja</mat-label>
                <input matInput [matDatepicker]="picker"
                formControlName="rodjendan"
                class="form-control" id="rodjendan"
                >
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>


            <div id="button-div">
                <button style="margin:15px;" color="primary" type="submit" class="btn btn-lg btn-primary btn-block" (click)="signup()" id="signup-button">Sign-up</button>
            </div>
        </form>
    </div>
</div>

