<nav-bar></nav-bar>
<div class="page">
    <h1>Vaccines</h1>
    <div class="table">
        <table>
            <tr>
                <th style="width: 20%">Id</th>
                <th style="width: 40%">Manufacturer</th>
                <th style="width: 20%">Quantity</th>
                <th style="width: 20%"></th>
            </tr>
            <tr *ngFor="let vac of vaccines">
                <td>{{vac.id}}</td>
                <td>{{vac.manufacturer}}</td>
                <td>{{vac.quantity}}</td>
                <td><button (click)="updateQuantity(vac.id)">Update quantity</button></td>
            </tr>
        </table>
    </div>
    <label for="newQuantity">New quantity</label>
    <input type="number" [(ngModel)]="newQuantity"/>
    <h3>Add new vaccine</h3>
    <div class="form">
        <label for="id">Id</label><br>
        <input type="text" [(ngModel)]="id"/> <br>
        <label for="manufacturer">Manufacturer</label><br>
        <input type="text" [(ngModel)]="manufacturer"/> <br>
        <label for="text">Quantity</label><br>
        <input type="text" [(ngModel)]="quantity"/> <br>
        <button (click)="saveVaccine()">Save</button>
    </div>
</div>
