<div class="page">
    <table class="table">
        <thead>
        <tr>
            <th style="width: 20%">JMBG</th>
            <th style="width: 50%">Reason</th>
            <th style="width: 10%"></th>
            <th style="width: 10%"></th>
            <th style="width: 10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let req of requests">
            <td>{{req.Pacijent.jmbg}}</td>
            <td>{{req.razlog}}</td>
            <td><button (click)="showDocumentation(req.Pacijent.jmbg)">Show documentation</button></td>
            <td><button (click)="acceptRequest(req.Pacijent.jmbg)">Accept</button></td>
            <td><button (click)="declineRequest(req.Pacijent.jmbg)">Decline</button></td>
        </tr>
        </tbody>
    </table>
    <label for="declineReason">Decline reason:</label>
    <input [(ngModel)]="reason"/>

    <div class="citizen-documents" *ngIf="selectedJmbg">
        <h3>Documents for citizen: {{selectedJmbg}}</h3>
        <button (click)="showRequest()">Show request</button>
        <button (click)="showAccordance()">Show accordance</button>
        <button (click)="showVaccination()">Show vaccination document</button>
    </div>
</div>
