<div class="demo-button-container">

    <mat-sidenav-container class="example-container2">
        <mat-sidenav mode="side" opened class="side-menu">

        </mat-sidenav>
        <mat-sidenav-content class="main-menu">

            <div style=" padding : 45px;" class="col-md-4 col-md-offset-4">

                <div id="form-holder-div">
                    <h1 class="h1 mb-3 font-weight-normal">Saglasnost za vakcinisanje</h1>

                    <mat-radio-group aria-label="Select an option" [(ngModel)]="drzavljanstvoDugme">
                        <mat-radio-button value="Srpsko">Srpsko Drzavljanstvo</mat-radio-button>
                        <mat-radio-button value="Strano">Strano Drzavljanstvo</mat-radio-button>
                    </mat-radio-group>

                    <div *ngIf="this.drzavljanstvoDugme == 'Srpsko'">
                        <div class="example-container">
                            <mat-form-field appearance="fill">
                                <mat-label>Unesite JMBG</mat-label>
                                <input matInput placeholder="2902968000000" [formControl]="jmbg" required>
                                <mat-error *ngIf="jmbg.invalid">Morate uneti JMBG</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div *ngIf="this.drzavljanstvoDugme == 'Strano'">
                        <div class="example-container">
                            <mat-form-field appearance="fill">
                                <mat-label>Unesite ime stranog drzavljanstva</mat-label>
                                <input matInput placeholder="Americko" [formControl]="stranac" required>
                                <mat-error *ngIf="jmbg.invalid">Morate uneti ime stranog drzavljanstva</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="example-container">
                            <mat-form-field appearance="fill">
                                <mat-label>Unesite broj pasosa ili EBS strane drzave</mat-label>
                                <input matInput placeholder="2902968000000" [formControl]="jmbg" required>
                                <mat-error *ngIf="jmbg.invalid">Morate uneti broj pasosa ili EBS strane drzave</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                      

                    

                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Unesite email</mat-label>
                            <input matInput placeholder="pat@example.com" [formControl]="email" required>
                            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>


                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Unesite Ime</mat-label>
                            <input matInput placeholder="Pera" [formControl]="ime" required>
                            <mat-error *ngIf="ime.invalid">Morate uneti ime</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Unesite Prezime</mat-label>
                            <input matInput placeholder="Peric" [formControl]="prezime" required>
                            <mat-error *ngIf="prezime.invalid">Morate uneti prezime</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Unesite Ime Roditelja</mat-label>
                            <input matInput placeholder="Nikola" [formControl]="roditelj" required>
                            <mat-error *ngIf="prezime.invalid">Morate uneti prezime</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Unesite mobilni telefon</mat-label>
                            <input matInput placeholder="061729411323" [formControl]="mobilni" required>
                            <mat-error *ngIf="mobilni.invalid">Morate uneti broj</mat-error>
                            <mat-icon matSuffix>phone</mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Unesite fiksni telefon</mat-label>
                            <input matInput placeholder="021823849" [formControl]="fiksni">
                            <mat-error *ngIf="fiksni.invalid">Morate uneti broj</mat-error>
                            <mat-icon matSuffix>phone</mat-icon>
                        </mat-form-field>
                    </div>


                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Unesite Mesto rodjenja</mat-label>
                            <input matInput placeholder="Novi Sad" [formControl]="mesto" required>
                            <mat-error *ngIf="mesto.invalid">Morate uneti mesto rodjenja</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Unesite mesto gde trenutno zivite</mat-label>
                            <input matInput placeholder="Novi Sad" [formControl]="naselje" required>
                            <mat-error *ngIf="naselje.invalid">Morate mesto gde trenutno zivite</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Unesite Opstinu</mat-label>
                            <input matInput placeholder="Novi Sad" [formControl]="opstina" required>
                            <mat-error *ngIf="opstina.invalid">Morate uneti opstinu</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Unesite Adresu</mat-label>
                            <input matInput placeholder="Vojvode Putnika 82" [formControl]="adresa" required>
                            <mat-error *ngIf="adresa.invalid">Morate uneti adresu</mat-error>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field >
                            <mat-label>Unesite Datum Rodjenja</mat-label>
                            <input matInput [matDatepicker]="picker"
                            class="form-control" id="rodjendan"
                            >
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div></div>
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="pol">
                        <mat-radio-button value="Muski">Muski</mat-radio-button>
                        <mat-radio-button value="Zenski">Zenski</mat-radio-button>
                    </mat-radio-group>

                    <div></div>
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="radniStatus">
                        <mat-radio-button value="Zaposlen">Zaposlen</mat-radio-button>
                        <mat-radio-button value="Nezaposlen">Nezaposlen</mat-radio-button>
                        <mat-radio-button value="Penzioner">Penzioner</mat-radio-button>
                        <mat-radio-button value="Ucenik">Ucenik</mat-radio-button>
                        <mat-radio-button value="Student">Student</mat-radio-button>
                        <mat-radio-button value="Dete">Dete</mat-radio-button>
                    </mat-radio-group>

                    <div></div>
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="zanimanje">
                        <mat-radio-button value="ZdravstvenaZastita">Zdravstvena Zastita</mat-radio-button>
                        <mat-radio-button value="SocijalnaZastita">Socijalna Zastita</mat-radio-button>
                        <mat-radio-button value="Prosveta">Prosveta</mat-radio-button>
                        <mat-radio-button value="MUP">MUP</mat-radio-button>
                        <mat-radio-button value="Vojska">Vojska</mat-radio-button>
                        <mat-radio-button value="Drugo">Drugo</mat-radio-button>
                    </mat-radio-group>

                    <div></div>
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="socijalnaZastita">
                        <mat-radio-button value="Da">Korisnik Socijalne Zastita</mat-radio-button>
                        <mat-radio-button value="Ne">Nisam Korisnik Socijalne Zastite</mat-radio-button>
                    </mat-radio-group>

                    <div></div>
                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Unesite Naziv i opstinu sedista</mat-label>
                            <input matInput placeholder="Novi Sad" [formControl]="opstinaSocijala" required>
                            <mat-error *ngIf="opstinaSocijala.invalid">Morate uneti opstinu</mat-error>
                        </mat-form-field>
                    </div>

                    <div></div>
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="saglasnost">
                        <mat-radio-button value="Da">Saglasan Sam</mat-radio-button>
                        <mat-radio-button value="Ne">Nisam Saglasan</mat-radio-button>
                    </mat-radio-group>
                    <span *ngIf="this.saglasnost" class="example-list-section">
                        <mat-radio-group aria-label="Select an option" [(ngModel)]="vakcina">
                            <ul>
                                <li *ngFor="let subtask of task.subtasks">
                                    <mat-radio-button 
                                    value="{{subtask.name}}"
                                        >
                                        {{subtask.name}}
                                    </mat-radio-button>
                                </li>
                            </ul>
                        </mat-radio-group>
                    </span>
                    

                    
                    <div></div>
                    <button mat-button color="primary" (click)="submit()">Posalji zahtev</button>
                </div>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>